/* Text for form entryfields */
.dataGrid_jsldgEditField { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;}
.dataGrid_jsldgalink {  text-decoration: none; color: #001F66; white-space: nowrap;}
.dataGrid_jsldgtxtalink{text-decoration: none; color: #001F66;}

/* All cells by the end of the paging table footer */
.dataGrid_jsldgPagingTableFooterEnd {
    background-color: #eeeeee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
  

    height:22;    
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #aaaaaa;
        
}

/* The size of icons in the paging header or footer  */
.dataGrid_jsldgPagingTableFooterIcon {
    width: 16px;
    height: 16px;
}


/* The size of sort icons in the table header  */
.dataGrid_jsldgTableHeaderSortIcon {
    width: 9px;
    height: 5px;
}

/* All cells in the middle of the paging table foot  */
.dataGrid_jsldgPagingTableFooterMiddle{
    background-color: #eeeeee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;

    height:22;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #aaaaaa;
        
}

/* Standard table row */
.dataGrid_jsldgTableNrmRow  {height:22; color: #333333; background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;  }

/* Shaded table row - used to alternate row colors with standard row - New in v5 */
.dataGrid_jsldgTableShdRow {height:22;color: #333333; background-color: #ECECEC; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;  }

/*highlight table row*/
.dataGrid_jsldgTableHltRow  {height:22;color: #333333; background-color: #00EECC; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;  }

/*Select table row*/
.dataGrid_jsldgTableSltRow  {height:22;color: #333333; background-color: #3399FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;  }

.dataGrid_jsldgBodyRowMiddle{
    height:22;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #aaaaaa;


}


/* Styles for the top-level table tag and the cells containing the header, footer, and table body. - New in v5 */
.dataGrid_jsldgPagingTable{
    border: 0px;
    background-color: #eeeeee;
        
}


/* Text for form buttons */
.dataGrid_jsldgButtonText { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;

        
    color: #001F66;
    background-color: #C3D3E6; 
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center; 
    border: 1px solid #405380;
    padding: 2px 11px;
    margin: 0px;
   
    vertical-align: middle;
    
     white-space: nowrap;
     
      
}
