<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="com.ibm.ws.console.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="IBM Corp. - WebSphere Server Group">  
   
<requires>
</requires>

<extension-point id="navigatorTask" name="%navTask" schema="navtask.dtd" stylesheet="navigator.xsl" class="com.ibm.ws.console.plugin.core.NaviagatorExtensionProcessor"/>
<extension-point id="menuBarTask" name="%mbTask" schema="mbtask.dtd" stylesheet="menubar.xsl" class="com.ibm.ws.console.plugin.core.MenuBarExtensionProcessor"/>
<extension-point id="help" name="%help" schema="help.dtd" stylesheet="" class="com.ibm.ws.console.plugin.core.HelpExtensionProcessor"/>
<extension-point id="view" name="%view" schema="view.dtd" stylesheet="view.xsl" class="com.ibm.ws.console.plugin.core.ViewExtensionProcessor"/>
<extension-point id="status" name="%statusTray" schema="status.dtd" stylesheet="status.xsl" class="com.ibm.ws.console.plugin.core.StatusExtensionProcessor"/>
<extension-point id="detailTab" name="%detailTab" schema="detailTab.dtd" stylesheet="detailTab.xsl" class="com.ibm.ws.console.plugin.core.TabExtensionProcessor"/>
<extension-point id="actionSet" name="%actionSet" schema="actionSet.dtd" stylesheet="actionSet.xsl" class="com.ibm.ws.console.plugin.core.ActionSetExtensionProcessor"/>
<extension-point id="link" name="%link" schema="link.dtd" stylesheet="link.xsl" class="com.ibm.ws.console.plugin.core.LinkExtensionProcessor"/>
<extension-point id="collectionItem" name="%collectionItem" schema="collectionItem.dtd" stylesheet="collectionItem.xsl" class="com.ibm.ws.console.plugin.core.CollectionItemExtensionProcessor"/>
<extension-point id="wizardStep" name="%wizardStep" schema="wizardStep.dtd" class="com.ibm.ws.console.plugin.core.InstallWizardExtensionProcessor"/>
<extension-point id="homePage" name="%homePage" schema="homePage.dtd" class="com.ibm.ws.console.plugin.core.HomePageProcessor"/>
         
</plugin>
