<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="WebApp_1">
    <display-name>adminconsole</display-name>
    <servlet>
        <servlet-name>validator</servlet-name> 
        <servlet-class>org.apache.struts.action.ValidatorServlet</servlet-class> 
        <init-param>
            <param-name>config</param-name> 
            <param-value>/WEB-INF/validation.xml</param-value> 
        </init-param>
        <init-param>
            <param-name>debug</param-name> 
            <param-value>0</param-value> 
        </init-param>
        <load-on-startup>2</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>EventInitializer</servlet-name> 
        <servlet-class>com.ibm.ws.console.events.EventListenerServlet</servlet-class> 
        <load-on-startup>2</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.tiles.ActionComponentServlet</servlet-class> 
        <init-param>
            <param-name>definitions-config</param-name>
            <param-value>/WEB-INF/console-defs.xml</param-value>
        </init-param>
        <init-param>
            <param-name>definitions-debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>definitions-parser-details</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>definitions-parser-validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>application</param-name>
            <param-value>com.ibm.ws.console.core.resources.ConsoleAppResources</param-value>
        </init-param>
        <init-param>
            <param-name>multipartClass</param-name>
            <param-value>com.ibm.ws.console.core.upload.DiskMultipartRequestHandler</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.DownloadFileServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.StatusServlet</servlet-class>
    </servlet>    
      
    <servlet>
        <servlet-name>SecureCleanup</servlet-name> 
        <servlet-class>com.ibm.ws.console.core.servlet.SecureCleanupServlet</servlet-class> 
        <load-on-startup>3</load-on-startup> 
    </servlet>
    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/secure/downloadFile/*</url-pattern>
    </servlet-mapping>      
    
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>SecureCleanup</servlet-name>
        <url-pattern>/securecleanup</url-pattern>
    </servlet-mapping>      
    
    <welcome-file-list>
        <welcome-file>/secure/logon.jsp</welcome-file>
    </welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/logonError.jsp</location>
	</error-page>
	
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/WEB-INF/tiles.tld</taglib-uri>
        <taglib-location>/WEB-INF/tiles.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/WEB-INF/ibmcommon.tld</taglib-uri>
        <taglib-location>/WEB-INF/ibmcommon.tld</taglib-location>
    </taglib>

    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/status/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>*.do</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
      
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ThinClient Administrative Login</realm-name>
        <form-login-config>
            <form-login-page>/logon.jsp</form-login-page>
            <form-error-page>/logonError.jsp</form-error-page>
        </form-login-config>
    </login-config>
  
    <security-role>
        <description>Administrator role</description>
        <role-name>administrator</role-name>
    </security-role>
    
    <security-role>
        <description>Operator role</description>
        <role-name>operator</role-name>
    </security-role>
    
    <security-role>
        <description>Configurator role</description>
        <role-name>configurator</role-name>
    </security-role>
    
    <security-role>
        <description>Monitor role</description>
        <role-name>monitor</role-name>
    </security-role>
</web-app>
